body{
    align-content: center;
    margin:0, auto;
    margin-top: 40px;
    padding: 25px;
    border: 10px solid red;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
}

.dot{
    background-color: red;
    color:white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    font-size: 65px;
}

.dot:hover{
    background-color: grey;
}

.instruction {
    text-align: center;
    font-size: 60%;
 }