body{
    margin:0, auto;
    margin-top: 40px;
    padding: 25px;
    border: 10px solid red;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
}

.dot {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }